<div class="form-control">
  <app-user-select
    [users]=users
    (check)="updateUser($event)">
  </app-user-select>
  <app-tabs>
    <app-tab-item>
      <app-tab-label>Todo</app-tab-label>
      <app-tab-body>
        <app-todo-list>
          <app-todo-item
            *ngFor="let todo of todos"
            [todo]=todo>
          </app-todo-item>
        </app-todo-list>
      </app-tab-body>
    </app-tab-item>
    <app-tab-item>
      <app-tab-label>Albums</app-tab-label>
      <app-tab-body>
        <div class="flex flex-col gap-4 justify-center">
          <app-albums
            *ngFor="let album of albums"
            [album]=album
            (click)="getPhotos(album.id)">
          </app-albums>
        </div>

      </app-tab-body>
    </app-tab-item>
  </app-tabs>


</div>

