<div class="form-control">
  <app-user-select
    [users]=users
    (check)="updateUser($event)"
  >
  </app-user-select>
  <app-tabs>
    <app-tab-item>
      <app-tab-label>tab</app-tab-label>
      <app-tab-body>
        <app-todo-list>
          <div class="flex flex-col">
            <app-todo-item
              *ngFor="let todo of todos"
              [todo]=todo>
            </app-todo-item>
          </div>
        </app-todo-list>
      </app-tab-body>
    </app-tab-item>
    <app-tab-item >
      <app-tab-label>albums</app-tab-label>
      <app-tab-body>
        <app-albums
          *ngFor="let album of albums"
          [album]=album
          (click)="getPhotos(album.id)">
        </app-albums>
      </app-tab-body>
    </app-tab-item>
  </app-tabs>


</div>

