<div class="form-control">
  <app-user-select
    [users]=users
    (check)="updateUser($event)"
  >
  </app-user-select>
  <app-todo-list>
    <div class="flex flex-col">
      <app-todo-item
        *ngFor="let todo of todos"
        [todo]=todo>
      </app-todo-item>
    </div>

  </app-todo-list>
  <app-albums
    *ngFor="let album of albums"
    [album]=album
    (click)="getPhotos(album.id)">
  </app-albums>
  <app-modal
    [(activeModal)]="activeModal"
  >
    <div class="flex flex-wrap justify-between gap-1">
      <app-photos
        *ngFor="let photo of photos"
        [photo]=photo>
      </app-photos>
    </div>
  </app-modal>


</div>

